[submodule "firmware/pico-sdk"]
	path = firmware/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "firmware/picotool"]
	path = firmware/picotool
	url = git@github.com:raspberrypi/picotool.git
[submodule "nanopb"]
	path = nanopb
	url = git@github.com:nanopb/nanopb.git
